body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 60px;
    padding-top: 20%;
}
h2{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 70px;
}
.half-width{
    padding-top: 5%;
    width: 40%;
    padding-left: 5%;
}
.half-width image{
    width: 9    0px;
    height: 50%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange,rgb(243, 49, 15));
    color:white;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 25px;
    box-shadow: 0px 2px 5px 5px pink    ;
}
.image{
    height: 100%;
    width: 50%;
    
}
.mid-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 90%;
}

.cernter-align{
    text-align: center;
    padding: 0% 30%;
}
.recipie-container{
    box-shadow: 10px 10px 10px 10px lightgrey;
    width: 20%;
    margin-left: 3% ;
    margin-right: 3%;
    padding: 1% ;
    border-radius: 30px;
}
.recipie-container img{ 
    width: 100%
}
.online-order-banner{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 90%;
}

.social-promopt{
    display: inline-flex;
    margin-left: 2%;
    margin-right: 10%;
    padding-left: 80px;
    padding-right: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 25px grey;
}
.social-site{
    text-align: center;
    width: 27%;
    padding-left: 5px;
    padding-right: 2px;
    border-right: 15px;
    margin-left: 10%;
    margin-right: 20%;
    font-size: 20px;
}
#box{
    background-color: black;
    margin-left: 0%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
    border-width: 40%;
    
}
.white-color{
    color: beige;
}